In [2]:
# pip install pandas
!pip install numpy

Requirement already satisfied: numpy in c:\users\vanraj\appdata\local\programs\python\python38\lib\site-packages (1.24.2)

[notice] A new release of pip is available: 23.1 -> 24.1.1
[notice] To update, run: c:\users\vanraj\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Assignment 1: DataFrame Creation and Indexing
df = pd.DataFrame(np.random.randint(1,11,(6,4)),columns=['A','B','C','D'])
df.set_index('A',inplace=True)
print(df)

     B  C   D
A
2    6  3  10
10   8  1   2
7   10  9   7
7    6  8   9
4   10  3   9
2    9  7   1

In [5]:
df = pd.DataFrame(np.random.randint(1,100),columns=['A','B','C'],index=['X','Y','Z'])
df['B']['Y']

12

In [6]:
# Assignment 2: DataFrame Operations
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns=['A','B','C'])
df['Product'] = df['A'] * df['B'] * df['C']
print(df)

    A   B   C  Product
0  54  40  66   142560
1  80  56  62   277760
2  70  37  62   160580
3  17  64  86    93568
4  18  67  56    67536

In [7]:
df = pd.DataFrame(np.random.randint(1,100,(4,3)))
print(df)
row_wise_sum = np.sum(df,axis=1)
print(row_wise_sum)
col_wise_sum = np.sum(df,axis=0)
print(col_wise_sum)

    0   1   2
0  30  97  12
1  51  92  14
2  66  14  94
3  34  89  90
0    139
1    157
2    174
3    213
dtype: int64
0    181
1    292
2    210
dtype: int64

In [8]:
# Assignment 3: Data Cleaning
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print('Original DataFrame')
print(df)
df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrames with NaN values: ")
print(df)
df.fillna(df.mean(),inplace=True)
print("NaN values replaced with mean")
print(df)

Original DataFrame
    A   B   C
0  92  86  54
1  67  97  12
2  79   2  52
3  88  15  25
4  80  51   1
DataFrames with NaN values:
      A     B     C
0  92.0   NaN  54.0
1  67.0  97.0  12.0
2  79.0   2.0   NaN
3  88.0  15.0  25.0
4   NaN  51.0   1.0
NaN values replaced with mean
      A      B     C
0  92.0  41.25  54.0
1  67.0  97.00  12.0
2  79.0   2.00  23.0
3  88.0  15.00  25.0
4  81.5  51.00   1.0

In [9]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
print('Original DataFrame')
print(df)
df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrames with NaN values: ")
print(df)
df.dropna(inplace=True)
print("DataFrames with no NaN values")
print(df)

Original DataFrame
    A   B   C   D
0  74  81  57  77
1   6   1  85   4
2  98  30  34  20
3  15  75  54  86
4  58  38  36  49
5  63  31  84  74
DataFrames with NaN values:
      A     B     C   D
0  74.0   NaN  57.0  77
1   6.0   1.0  85.0   4
2  98.0  30.0   NaN  20
3  15.0  75.0  54.0  86
4   NaN  38.0  36.0  49
5  63.0  31.0  84.0  74
DataFrames with no NaN values
      A     B     C   D
1   6.0   1.0  85.0   4
3  15.0  75.0  54.0  86
5  63.0  31.0  84.0  74

In [10]:
# Assignment 4: Data Aggregation
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size=10),'Value': np.random.randint(1,100,size=10)})
print('Original DataFrame')
print(df)
grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print("Grouped DataFrame")
print(grouped)

Original DataFrame
  Category  Value
0        B     53
1        A     35
2        A     45
3        A     11
4        A     83
5        C     76
6        B     56
7        C     77
8        A     54
9        C     86
Grouped DataFrame
          sum       mean
Category
A         228  45.600000
B         109  54.500000
C         239  79.666667

In [11]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1','Prod2','Prod3'],size=10),'Category': np.random.choice(['A','B','C'],size=10),'Sales': np.random.randint(1,100,size=10)})
print('Original DataFrame')
print(df)
grouped = df.groupby('Category')['Sales'].sum()
print(grouped)

Original DataFrame
  Product Category  Sales
0   Prod1        C     35
1   Prod3        C     88
2   Prod2        B     89
3   Prod1        A     93
4   Prod1        B     73
5   Prod2        A      9
6   Prod2        A     58
7   Prod3        B     46
8   Prod3        A     42
9   Prod1        A      7
Category
A    209
B    208
C    123
Name: Sales, dtype: int32

In [12]:
# Assignment 5: Merging DataFrames
df1 = pd.DataFrame({'Key': ['A','B','C','D'],'Value1': np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'Key': ['A','B','C','E'], 'Value2': np.random.randint(1,100,size=4)})
merged = pd.merge(df1,df2,on='Key')
print("Merged DataFrames")
print(merged)

Merged DataFrames
  Key  Value1  Value2
0   A      32      31
1   B      85      73
2   C      83      37

In [13]:
df1 = pd.DataFrame({'Key': ['A','B','C','D'],'Value1': np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'Key': ['E','F','G','H'], 'Value2': np.random.randint(1,100,size=4)})
concatenated_df_rows = pd.concat([df1,df2],axis=0)
print("Concatenated DataFrames along rows")
print(concatenated_df_rows)
concatenated_df_cols = pd.concat([df1,df2],axis=1)
print("Concatenated DataFrames along columns")
print(concatenated_df_cols)

Concatenated DataFrames along rows
  Key  Value1  Value2
0   A    94.0     NaN
1   B    80.0     NaN
2   C     7.0     NaN
3   D    14.0     NaN
0   E     NaN    12.0
1   F     NaN    81.0
2   G     NaN    80.0
3   H     NaN    18.0
Concatenated DataFrames along columns
  Key  Value1 Key  Value2
0   A      94   E      12
1   B      80   F      81
2   C       7   G      80
3   D      14   H      18

In [14]:
# Assignment 6: Time Series Analysis
date_rng = pd.date_range(start='2024-01-01',end='2024-03-15',freq='D')
df = pd.DataFrame(date_rng,columns=['Date'])
df['Date'] = np.random.randint(0,100,size=(len(date_rng)))
df.set_index('Date',inplace=True)
print('Original DataFrame')
print(df)

Original DataFrame
Empty DataFrame
Columns: []
Index: [48, 41, 86, 8, 3, 36, 19, 18, 15, 33, 27, 80, 53, 71, 61, 86, 93, 66, 81, 93, 19, 18, 91, 34, 35, 21, 13, 75, 58, 91, 38, 45, 8, 79, 77, 40, 51, 61, 50, 65, 11, 22, 40, 89, 20, 51, 77, 82, 84, 98, 13, 10, 53, 93, 81, 23, 37, 12, 4, 77, 97, 92, 49, 54, 94, 71, 30, 25, 47, 64, 37, 67, 82, 79, 82]

[75 rows x 0 columns]

In [15]:
date_rng = pd.date_range(start='2020-01-01',end='2024-12-31',freq='D')
df = pd.DataFrame(date_rng,columns=['Date'])
df['Value'] = np.random.randint(1,100,size=(len(date_rng)))
df.set_index('Date',inplace=True)
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame")
print(rolling_mean)

Rolling mean DataFrame
                Value
Date
2020-01-01        NaN
2020-01-02        NaN
2020-01-03        NaN
2020-01-04        NaN
2020-01-05        NaN
...               ...
2024-12-27  60.571429
2024-12-28  61.857143
2024-12-29  66.857143
2024-12-30  63.285714
2024-12-31  63.000000

[1827 rows x 1 columns]

In [16]:
# Assignment 7: MultiIndex DataFrame
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays=arrays,names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,(4,3)),index=index,columns=['Value1','Value2','Value3'])
print("MultiIndex DataFrame:")
print(df)

print(df.loc['A'])
print(df.loc[('B','two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              73      56      60
         two              47      33      42
B        one              51      62       1
         two              69      32      38
             Value1  Value2  Value3
SubCategory
one              73      56      60
two              47      33      42
Value1    69
Value2    32
Value3    38
Name: (B, two), dtype: int32

In [17]:
arrays = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays=arrays,names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['Value1','Value2','Value3'])
print(df)
category_sum = df.groupby('Category').agg('sum')
print(category_sum)
subCategory_sum = df.groupby('SubCategory').agg('sum')
print(subCategory_sum)

                      Value1  Value2  Value3
Category SubCategory
A        one              65      71      24
         two              95      51      87
B        one              18      63      88
         two              15      91      31
          Value1  Value2  Value3
Category
A            160     122     111
B             33     154     119
             Value1  Value2  Value3
SubCategory
one              83     134     112
two             110     142     118

In [20]:
# Assignment 8: Pivot Tables
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame")
print(df)
pivot_table = df.pivot_table(values='Value',index='Date',columns='Category',aggfunc='sum')
print("Pivot DataFrame")
print(pivot_table)

Original DataFrame
         Date Category  Value
0  2022-01-05        B     56
1  2022-01-03        B     56
2  2022-01-06        C     22
3  2022-01-05        C      1
4  2022-01-01        A     64
5  2022-01-10        C     30
6  2022-01-06        C     95
7  2022-01-05        B     21
8  2022-01-05        C     31
9  2022-01-08        B      3
10 2022-01-05        B     51
11 2022-01-02        A     91
12 2022-01-05        B     40
13 2022-01-08        B      1
14 2022-01-06        B     25
15 2022-01-06        C     48
16 2022-01-09        B     45
17 2022-01-05        A     15
18 2022-01-05        B     71
19 2022-01-03        A     16
Pivot DataFrame
Category       A      B      C
Date
2022-01-01  64.0    NaN    NaN
2022-01-02  91.0    NaN    NaN
2022-01-03  16.0   56.0    NaN
2022-01-05  15.0  239.0   32.0
2022-01-06   NaN   25.0  165.0
2022-01-08   NaN    4.0    NaN
2022-01-09   NaN   45.0    NaN
2022-01-10   NaN    NaN   30.0

In [24]:
df = pd.DataFrame({'Year': np.random.choice([2020,2021,2022],size=12),'Quarter': np.random.choice(['Q1','Q2','Q3','Q4'],size=12),'Revenue': np.random.randint(1,1000,size=12)})
print("Original DataFrame")
print(df)
pivot_table = df.pivot_table(values='Revenue',index='Year',columns='Quarter',aggfunc='mean')
print("Pivoted DataFrame")
print(pivot_table)

Original DataFrame
    Year Quarter  Revenue
0   2022      Q4      547
1   2022      Q3      579
2   2022      Q4      959
3   2021      Q2      995
4   2022      Q1       84
5   2020      Q1      988
6   2022      Q4      595
7   2022      Q3      936
8   2021      Q1      179
9   2022      Q2      621
10  2022      Q4       38
11  2022      Q1      717
Pivoted DataFrame
Quarter     Q1     Q2     Q3      Q4
Year
2020     988.0    NaN    NaN     NaN
2021     179.0  995.0    NaN     NaN
2022     400.5  621.0  757.5  534.75

In [27]:
# Assignment 9: Applying Functions
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)))
print("Original DataFrame")
print(df)
doubled_values = df.apply(lambda x:2*x)
print("Double Values")
print(doubled_values)

Original DataFrame
    0   1   2
0  99  60  83
1  94  89  18
2  21  20  68
3  94  81  88
4  44  82  83
Double Values
     0    1    2
0  198  120  166
1  188  178   36
2   42   40  136
3  188  162  176
4   88  164  166

In [28]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)))
print("Original DataFrame")
print(df)
df['Sum'] = df.apply(lambda row:row.sum(),axis=1)
print("Sum of existing columns")
print(df)

Original DataFrame
    0   1   2
0  48  12  10
1  67  67  54
2  50  82  81
3  78  99  15
4  46  98  85
5  53  26  45
Sum of existing columns
    0   1   2  Sum
0  48  12  10   70
1  67  67  54  188
2  50  82  81  213
3  78  99  15  192
4  46  98  85  229
5  53  26  45  124

In [33]:
# Assignment 10: Working with Text Data
series = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series")
print(series)
upper = series.str.upper()
print("Uppercase Text")
print(upper)

Original Series
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Text
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [37]:
series = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series")
print(series)
first_three_char = series.str[:3]
print("First three character of each string")
print(first_three_char)

Original Series
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three character of each string
0    app
1    ban
2    che
3    dat
4    eld
dtype: object