In [1]:
import sqlite3

In [2]:
# connect to an Sqlite Database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a Table
cursor.execute('''
        Create Table If Not Exists employees (
            id Integer Primary Key,
            name Text Not Null,
            age Integer,
            department text
        )               
''')

# Commit the changes
connection.commit()

In [5]:
cursor.execute('''
               Select * from employees
               ''')

In [7]:
# Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
            values('Krish',32,'Data Scientist')
               ''')

cursor.execute('''
Insert Into employees(name,age,department)
            values('Ajay',32,'ML engineer')
               ''')
cursor.execute('''
Insert Into employees(name,age,department)
            values('Vanraj',23,'Software Developer')
               ''')
cursor.execute('''
Insert Into employees(name,age,department)
            values('Sumit',19,'Unemployed')
               ''')

In [18]:
# Query the data from the table
cursor.execute('Select * from employees')
rows =cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Krish', 34, 'Data Scientist')
(3, 'Ajay', 32, 'ML engineer')
(4, 'Vanraj', 23, 'Software Developer')

In [13]:
# Update the data in the table
cursor.execute('''
Update employees
set age=34
where name="Krish"               
''')

connection.commit()

In [17]:
# Delete the table from the table
cursor.execute('''
Delete from employees where name='Sumit'               
''')

connection.commit()

In [25]:
# Working with sales data
## Connect to an SQLite database

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)               
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',120,'South'),
    ('2023-01-03','Product3',140,'East'),
    ('2023-01-04','Product4',150,'West'),
    ('2023-01-05','Product5',170,'North'),
]

# cursor.executemany('''
# Insert into sales(date,product,sales,region) values(?,?,?,?)                   
# ''',sales_data)
connection.commit()

In [26]:
# close the connection
connection.close()